{{#foreach navigation}}
  <h5><a href="{{url absolute='true'}}">{{label}}</a></h5>
{{/foreach}}

<br/>

<h4>Содержание</h4>
{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">
	{{title}} 1
</section>
{{/foreach}}