{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">
	<p class="post-title"><a class="post-header" href="{{url}}">{{title}}</a><span class="separator"> &middot; </span> <span>{{date published_at format='DD/MM/YYYY'}}</span><span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}<br/></p>
	{{#if image}}
		<img src="{{image}}" max-width="50%" max-height="50%"/>
	{{/if}}
	<section class="post-excerpt post-padding">
      <p>{{content words="200"}}<span><a class="read-more" href="{{url}}">Читать дальше ⟶</a></span></p>
    </section>
</section>
{{/foreach}}