{{!< default}}
{{#post}}
<article id="{{id}}" class="{{post_class}}">
	<div class="post-stamp">{{date published_at format='DD/MM/YYYY'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</div>
	<h1 class="post-title">{{title}}</h1>
	{{content}}
	<div>
		<span id="vk_share_button"></span>
	</div>
  {{> comments}}
</article>  
{{/post}}

<script type="text/javascript">
	document.getElementById('vk_share_button').innerHTML = VK.Share.button('{{url absolute="true"}}', {type: 'link'}); 
</script>